.good-reads {
  
  padding: 20px 0 0 20px;
  MARGIN: 0 0 0 35PX;
  position: relative;

  font-weight: 900;
  font-size: 50px;
  line-height: 1.1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

.date-top {
  font-weight: 600;
  margin-bottom: 20px;
}

.good-reads-image {
  margin-top: auto;      /* push image to bottom of the container */
  width: 250px;           /* full container width */
  height: 750px;          /* make image height 80% of viewport height (adjust as needed) */
  object-fit: cover;     /* cover to maintain aspect ratio while filling height */
  position: relative;
}

.good-reads h2 {
  font-family: 'Anton', sans-serif;
  font-weight: normal;
}