.good-reads {
  flex: 1 1 300px;
  min-width: 250px;
}


.good-reads h2 {
  font-family: 'Anton', sans-serif;
    font-weight: normal;

  font-size: 50px;
}

.good-reads-image {
  width: 100%;
  height: 80vh;
}

.date-top {
    font-weight: 600;
    margin-bottom: 20px;
    

}